body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ad7a3c53;
}

.container {
    background-color: #341f0714;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.multiplication {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.multiplication input {
    width: 50px;
    text-align: center;
    font-size: 1.5em;
    margin: 0 10px;
}

button {
    background-color: #ff7f50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #ff6347;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
}